<?xml version="1.0" encoding="UTF-8"?>
<server description="sample">
  <featureManager>
    <feature>restfulWS-3.0</feature>
<!--    <feature>jsonp-2.0</feature>-->
<!--    <feature>jsonb-2.0</feature>-->
    <feature>cdi-3.0</feature>
    <feature>mpConfig-3.0</feature>
    <feature>mpMetrics-4.0</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <mpMetrics authentication="false"/>

  <httpEndpoint id="defaultHttpEndpoint"
                host="*"
                httpPort="${default.http.port}"
                httpsPort="${default.https.port}"/>

  <webApplication location="reactive-messaging.war" contextRoot="/" />
</server>